---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/rails/rails/issues
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '26'
      X-Ratelimit-Reset:
      - '1460721668'
      Etag:
      - W/"99573a41c5374454b60fd1aca4ff59a0"
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/8514/issues?page=2>; rel="next", <https://api.github.com/repositories/8514/issues?page=32>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/rails/rails/issues/24559","repository_url":"https://api.github.com/repos/rails/rails","labels_url":"https://api.github.com/repos/rails/rails/issues/24559/labels{/name}","comments_url":"https://api.github.com/repos/rails/rails/issues/24559/comments","events_url":"https://api.github.com/repos/rails/rails/issues/24559/events","html_url":"https://github.com/rails/rails/pull/24559","id":148624359,"number":24559,"title":"Fixed
        ActionCable::Connection::ClientSocketTest test","user":{"login":"vipulnsward","id":567626,"avatar_url":"https://avatars.githubusercontent.com/u/567626?v=3","gravatar_id":"","url":"https://api.github.com/users/vipulnsward","html_url":"https://github.com/vipulnsward","followers_url":"https://api.github.com/users/vipulnsward/followers","following_url":"https://api.github.com/users/vipulnsward/following{/other_user}","gists_url":"https://api.github.com/users/vipulnsward/gists{/gist_id}","starred_url":"https://api.github.com/users/vipulnsward/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/vipulnsward/subscriptions","organizations_url":"https://api.github.com/users/vipulnsward/orgs","repos_url":"https://api.github.com/users/vipulnsward/repos","events_url":"https://api.github.com/users/vipulnsward/events{/privacy}","received_events_url":"https://api.github.com/users/vipulnsward/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":{"login":"jeremy","id":199,"avatar_url":"https://avatars.githubusercontent.com/u/199?v=3","gravatar_id":"","url":"https://api.github.com/users/jeremy","html_url":"https://github.com/jeremy","followers_url":"https://api.github.com/users/jeremy/followers","following_url":"https://api.github.com/users/jeremy/following{/other_user}","gists_url":"https://api.github.com/users/jeremy/gists{/gist_id}","starred_url":"https://api.github.com/users/jeremy/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jeremy/subscriptions","organizations_url":"https://api.github.com/users/jeremy/orgs","repos_url":"https://api.github.com/users/jeremy/repos","events_url":"https://api.github.com/users/jeremy/events{/privacy}","received_events_url":"https://api.github.com/users/jeremy/received_events","type":"User","site_admin":false},"milestone":null,"comments":1,"created_at":"2016-04-15T10:35:22Z","updated_at":"2016-04-15T10:36:15Z","closed_at":null,"pull_request":{"url":"https://api.github.com/repos/rails/rails/pulls/24559","html_url":"https://github.com/rails/rails/pull/24559","diff_url":"https://github.com/rails/rails/pull/24559.diff","patch_url":"https://github.com/rails/rails/pull/24559.patch"},"body":"-
        Fixed ActionCable::Connection::ClientSocketTest that was overriding ActionCable::Connection::StreamTest
        test name\r\n- Only add attr_readers for required attributes"},{"url":"https://api.github.com/repos/rails/rails/issues/24556","repository_url":"https://api.github.com/repos/rails/rails","labels_url":"https://api.github.com/repos/rails/rails/issues/24556/labels{/name}","comments_url":"https://api.github.com/repos/rails[...]
